body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: white; /* Default background */
    background-size: cover; /* Cover the entire body */
    background-repeat: no-repeat; /* Do not repeat the background */
    background-position: center; /* Center the background image */
}

header h1 {
    color: navy;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        font-size: 16px; /* Larger font size for readability on small devices */
    }
}
